html{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif ;
    font-weight:400 ;
    font-size: 16px ;
}

html, body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1rem;
}
h3{
    font-size: .8rem;
}
h5{
    font-size: .6rem;
}
/* .shelves{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;
} */